<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if meta.robots %}
  <meta name="robots" content="{{ meta.robots }}">
  {% endif %}{% if meta.description %}
  <meta name="description" content="{{ meta.description|striptags }}">
  {% endif %}
  <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
  <link rel="stylesheet" href="{{ theme_url }}/styles/main.css" type="text/css" />

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <aside class="main-nav">

    {% include "pagesmenu.twig" %}

  </aside>

  <script>
    $('.shortcut-data').each(function () { //make shortcuts
      var self = this;
      Mousetrap.bind($(this).attr('data-shortcut'), function (e) {
        window.location = $(self).text();
      });
    });


    $('.article h1, .article h2').not('.main-title').each(function () { //make anchors
      var rawName = $(this).text();

      var cleanedName = rawName.replace(/[\.\s]+/g, '-');
      $('<a id=' + cleanedName + ' />').insertBefore($(this));
      $(this).prepend($('<span class="section-anchor"><a href="#' + cleanedName + '">#</a></span>'));

      var contentLine = $('<li><a href="#' + cleanedName + '">' + rawName + '</a>' + '</li>');
      if ($(this).is('h2')) contentLine.addClass('layer2');
      $('.table-contents').append(contentLine);
    });
  </script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</body>

</html>