<nav>
    <p class="directory"><a href="{{ base_url }}">root</a> / {{ current_page.id |root|directoryChain}}</p>
    <ul class="nav">
        {% for page in pages|sort_by("title")|sort_by(["meta", "weight"])%}
        {% if not page.hidden %}
        {% if page.meta.shortcut %}
        <span class="shortcut-data" style="display:none;" data-shortcut='{{ page.meta.shortcut }}'>{{ page.url }}</span>
        {% endif %}
        {%if current_page.id|isIndex %}
        {% set offset = 1 %}
        {% endif %}

        {% if (is_front_page or (page.id starts with current_page.id |root))
            and (current_page.id|level == page.id|level-offset) %}

        <li class="menuitem {% if page.id == current_page.id %}active{% endif %}" {{page.meta.size|ifSize}}>
            <a href="{{ page.url }}" data-shortcut="{{page.meta.shortcut}}" {{page.meta.style|ifStyle}}>
                {{ page.title }}
                {% if page.id|isIndex %}/{% endif %}
            </a>
        </li>

        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>
    {% set offset = 0 %}

  {% include "newform.twig" %}
</nav>